
  <div class="top" id="logo">
    <img src="images/logo_w.png" >

    <div id="banner" class="bubble">
      <div id="title">
        <strong> Who is who </strong>
      </div>
    </div>
  </div>

  <br>

  <div id="show">
    
    <div id="panel" ng-controller="ShowInterestController">
      <p id="fancy">Who's Who</p>
      <form>
        <input type="text" placeholder="Search..." ng-model="search">
        <input type="button" value="Search"
      </form>
      <div id="accordion">
        <h3 class="blue_font">Interests</h3>
        <div>
          <ul class="panel-list">
            <li class="interest-list" ng-repeat="interest in interests | filter: search | orderBy:'name'" > 
              <input type="checkbox" id = {{interest.id}} class="interests-checkbox"> {{interest.name}}
            </li>
          </ul>
        </div>
      </div>

    </div>

    <div id="photo-show" ng-controller="ShowUserController">
      <table id="centre-table" class="polaroids">
        <tbody>
          <tr>
            <td id="polaroid-format" ng-repeat="user in users | orderBy:'name'">
              <img ng-src="{{user.avatar}}" id = {{user.id}}>
              <p id="polaroid-text">
                {{user.name}} <br>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
