<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
  <!-- <link rel="stylesheet" href="app.css"> -->
  <link rel="stylesheet" href="stylesheets/welcome.css">
  <link rel="stylesheet" href="stylesheets/users.css">
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>

	  
  <div id="profile-show" ng-controller="ShowUserController as show">
    <div id="profile-avatar">
      <img ng-src="{{user.avatar}}" id = {{user.id}}>
    </div>
  
    <div id="profile-panel">
      <p id="name">  {{user.name}} </p>
  
      <div id="interests", class="collapse">
        <strong class="panel-title"> Interestst: </strong>
        
          {{user.interests}}
        
      </div>  
       <div class="more-button" >
        <a href="#", id="expand-button-interests", class="no-style-link">More</a>  
       </div> <br>
  
      <div id="responsibilities", class="collapse">
        <strong class="panel-title"> Responsabilidades: </strong>
        <p> <%= @user.responsibilities %> </p>
      </div>
      <div class="more-button">  
        <a href="#", id="expand-button-responsibilities", class="no-style-link"> More</a> 
      </div> <br>
  
      <strong class="panel-title"> Email: </strong>
      <p class="brillant-blue"> <%= @user.email %> </p>
  
      <strong class="panel-title"> Lugar de nacimiento: </strong>
      <p class="brillant-blue"> <%= @user.birthplace %> </p>
  
      <strong class="panel-title"> Education: </strong>
      <h5>Institution:</h5>
      <p> <%= @user.institution %> </p>
      <h5> Career: </h5>
      <p> <%= @user.career %> </p>
  
      <strong class="panel-title"> Position: </strong>
      <p> <%= @user.position %> </p>
  
      <strong class="panel-title"> Fecha de nacimiento: </strong>
      <p> <%= @user.birthdate %> </p>
  
      </div><br>
  
    <div id="back-button">
      <%= link_to "Back", welcomes_path, method: "get", id: "button-back" %> 
    </div>
  
  </div>

	
	


<script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
</body>
</html>
